<div>
	<%= form_tag search_search_path,:method => 'get' do %>
		<%= text_field_tag 'search[content]',"", :placeholder => "グループID検索" ,class: "search-tag" %>
    	<%= submit_tag '検索', style: "background-color: #CCFFFF;" %>
    <% end %>
</div>